/* ========================================
   RESET
======================================== */

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ========================================
   VARIÁVEIS
======================================== */

:root {
    --cor-primaria: #00bfff;
    --cor-secundaria: #0099cc;

    --cor-fundo: #111827;
    --cor-card: #1f2937;

    --cor-texto: #ffffff;
    --cor-texto-secundario: #d1d5db;
}

/* ========================================
   BODY
======================================== */

body {
    font-family: "Roboto Mono", monospace;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
}

/* ========================================
   HEADER
======================================== */

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background: rgba(17, 24, 39, .80);
    backdrop-filter: blur(12px);
    border-bottom: 1px solid rgba(255,255,255,.08);

}

nav {
    display: flex;
    gap: 30px;
}

nav a {
    text-decoration: none;
    color: var(--cor-texto);
    font-weight: bold;
    transition: 0.3s;
    position: relative;
}

nav a:hover {
    color: var(--cor-primaria);
    width: 100%;
}

nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background: var(--cor-primaria);
    transition: 0.3s;
}

nav a:hover::after {
    width: 100%;
}

/* ========================================
   HERO
======================================== */

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 90vh;

    text-align: center;
    padding-top: 90px;
}

.hero img {
    width: 220px;
    height: 220px;

    object-fit: cover;

    border-radius: 50%;

    border: 4px solid var(--cor-primaria);
}

.hero h1 {
    font-size: 55px;
    margin-top: 20px;
}

.hero h2 {
    margin-top: 25px;
    color: var(--cor-primaria);
}

.hero p {
    margin-top: 20px;
    font-size: 20px;
    color: var(--cor-texto-secundario);
}

/* ========================================
   BOTÕES
======================================== */

/* ========================================
   BOTÕES
======================================== */

.botoes {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.botoes a {
    display: inline-block;

    padding: 15px 30px;

    border-radius: 8px;

    background-color: var(--cor-primaria);

    color: var(--cor-texto);

    text-decoration: none;

    font-size: 16px;
    font-weight: 600;

    transition: 0.3s;
}

.botoes a:hover {
    background-color: var(--cor-secundaria);
    transform: scale(1.05);
}

/* ========================================
   SOBRE
======================================== */

.sobre {
    padding: 100px 15%;
}

.sobre h2 {
    text-align: center;
    font-size: 40px;
    color: var(--cor-primaria);

    margin-bottom: 40px;
}

.sobre p {
    font-size: 22px;
    line-height: 1.8;
    text-align: justify;

    color: var(--cor-texto-secundario);
}

/* ========================================
   TECNOLOGIAS
======================================== */

.tecnologias {
    padding: 100px 15%;
}

.tecnologias h2 {
    text-align: center;
    font-size: 40px;
    color: var(--cor-primaria);

    margin-bottom: 50px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 30px;
}

.card {
    background-color: var(--cor-card);

    padding: 30px;

    border-radius: 20px;

    text-align: center;

    transition: all .35s ease;
    box-shadow: 0 10px 25px rgba(0, 0, 0, .25);
}

.card:hover {
    transform: translateY(-12px);
    box-shadow: 0 15px 35px rgba(0, 191, 255, .25);
}

.card:hover i {
    transform: rotate(8deg) scale(1.15);
}

.card h3 {
    margin-bottom: 15px;
}

.card p {
    color: var(--cor-texto-secundario);
}

.card i {
    font-size: 55px;
    color: var(--cor-primaria);
    margin-bottom: 20px;
    transition: all .3s ease;
}

/* ========================================
   PROJETOS
======================================== */

.projetos {
    padding: 100px 15%;
}

.projetos h2 {
    text-align: center;
    font-size: 40px;

    color: var(--cor-primaria);

    margin-bottom: 50px;
}

.projetos-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 30px;
}

.projeto-card{
    background: var(--cor-card);

    border-radius:20px;

    overflow:hidden;

    transition:.4s ease;

    box-shadow:0 10px 30px rgba(0,0,0,.25);
}

.projeto-card:hover{

    transform:translateY(-12px);

    box-shadow:0 15px 35px rgba(0,191,255,.25);

}

.projeto-card:hover img{

    transform:scale(1.05);

}

.projeto-card img{

    width:100%;

    height:220px;

    object-fit:cover;

    transition:.4s;

}
.projeto-card h3 {
    margin: 20px;
    font-size: 25px;
}

.projeto-card p {
    margin: 20px;
    color: var(--cor-texto-secundario);
}

.projeto-card span{

    display:inline-block;

    margin:20px;

    padding:8px 16px;

    border-radius:30px;

    background:rgba(0,191,255,.12);

    color:var(--cor-primaria);

    font-weight:600;

}

.projeto-botoes {
    display: flex;
    justify-content: center;

    gap: 15px;
}

.projeto-botoes a{

    display:flex;

    justify-content:center;
    align-items:center;

    width:130px;
    height:45px;

    background:var(--cor-primaria);

    color:white;

    border-radius:10px;

    text-decoration:none;

    transition:.3s;

    font-weight:600;

}

.projeto-botoes a:hover {
    background-color: var(--cor-secundaria);
    transform: translateY(-3px);
}

.logo {
    font-size: 28px;
    color: var(--cor-primaria);
    cursor: pointer;
}

